.endScreen {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    
    display: none;
    align-items: center;
    justify-content: center;

    position: absolute;

    z-index: 2;

    .end {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .score {
            font-family: "Sour Gummy", sans-serif;
            font-size: 2rem;

            margin-bottom: 5vh;
        }

        .startButton {
            width: 15%;
            height: 10vh;
    
            display: flex;
            justify-content: center;
            align-items: center;
    
            font-family: "Sour Gummy", sans-serif;
            font-size: 3rem;
    
            background-color: #DDA15E;
            border-radius: 20px;
        }
    }


}