.gameScreen {
    width: 100%;
    max-width: 100%;
    height: 100vh;

    display: flex;

    .element {
        width: 100px;
        height: 100px;

        position: fixed;

        background: url(../assets/apple.png);
        background-size: 100px 100px;

        display: none;
    }


    .basket {
        width: 10%;
        height: 10vh;

        margin-left: calc(50% - 10%);
        margin-top: calc(90vh - 2px);

        background: url(../assets/basket.png);
        background-size: 100% 10vh;
    }
}